.login-page {
  background-color: #ecfbff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-page .div {
  background-color: #ecfbff;
  width: 1440px;
  height: 1024px;
  position: relative;
}

.login-page .overlap-group {
  position: absolute;
  width: 1338px;
  height: 752px;
  top: 120px;
  left: 27px;
}

.login-page .image {
  position: absolute;
  width: 761px;
  height: 746px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.login-page .rectangle {
  position: absolute;
  width: 630px;
  height: 720px;
  top: 32px;
  left: 708px;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 0px 8px 5px #00000040;
}

.login-page .text-wrapper {
  position: absolute;
  top: 102px;
  left: 788px;
  font-family: "Platypi-Bold", Helvetica;
  font-weight: 700;
  color: #30bddc;
  font-size: 40px;
  letter-spacing: 1.60px;
  line-height: normal;
}

.login-page .text-wrapper-2 {
  position: absolute;
  top: 201px;
  left: 788px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .text-wrapper-3 {
  position: absolute;
  top: 360px;
  left: 788px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .rectangle-2 {
  position: absolute;
  width: 476px;
  height: 79px;
  top: 251px;
  left: 785px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid;
  border-color: #a8edf9;
}

.login-page .rectangle-3 {
  position: absolute;
  width: 476px;
  height: 79px;
  top: 410px;
  left: 785px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid;
  border-color: #a8edf9;
}

.login-page .text-wrapper-4 {
  position: absolute;
  top: 272px;
  left: 818px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #a1a1a1;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .text-wrapper-5 {
  position: absolute;
  top: 431px;
  left: 818px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #a1a1a1;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .don-t-have-an {
  position: absolute;
  top: 644px;
  left: 836px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .span {
  color: #a1a1a1;
}

.login-page .text-wrapper-6 {
  color: #30bddc;
}

.login-page .rectangle-4 {
  position: absolute;
  width: 182px;
  height: 63px;
  top: 572px;
  left: 932px;
  background-color: #30bddc;
  border-radius: 20px;
}

.login-page .text-wrapper-7 {
  position: absolute;
  top: 582px;
  left: 985px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.login-page .text-wrapper-8 {
  position: absolute;
  top: 65px;
  left: 886px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #30bddc;
  font-size: 36px;
  letter-spacing: 1.44px;
  line-height: normal;
}
/* Inject original CSS here */

.login-page {
  background-color: #ecfbff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}

.login-content {
  display: flex;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.login-image {
  width: 50%;
  object-fit: cover;
}

.login-form-container {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.company-name {
  font-family: "Poppins-Bold", Helvetica, sans-serif;
  font-weight: 700;
  color: #30bddc;
  font-size: 36px;
  letter-spacing: 1.44px;
  margin-bottom: 20px;
}

.login-heading {
  font-family: "Platypi-Bold", Helvetica, sans-serif;
  font-weight: 700;
  color: #30bddc;
  font-size: 40px;
  letter-spacing: 1.60px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-label {
  font-family: "Poppins-Medium", Helvetica, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 28px;
}

.form-input {
  width: 100%;
  height: 79px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid #a8edf9;
  padding: 0 20px;
  font-family: "Poppins-Medium", Helvetica, sans-serif;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
}

.form-input::placeholder {
  color: #a1a1a1;
}

.login-button {
  width: 182px;
  height: 63px;
  background-color: #30bddc;
  border-radius: 20px;
  border: none;
  font-family: "Poppins-SemiBold", Helvetica, sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: 28px;
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
}

.signup-prompt {
  font-family: "Poppins-Medium", Helvetica, sans-serif;
  font-weight: 500;
  color: #a1a1a1;
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.signup-link {
  color: #30bddc;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .login-content {
    flex-direction: column;
  }

  .login-image,
  .login-form-container {
    width: 100%;
  }

  .login-image {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .login-form-container {
    padding: 20px;
  }

  .company-name,
  .login-heading {
    font-size: 30px;
  }

  .form-label,
  .form-input,
  .login-button,
  .signup-prompt {
    font-size: 20px;
  }

  .form-input {
    height: 60px;
  }

  .login-button {
    width: 150px;
    height: 50px;
  }
}
